body {
  margin: 0;
  font: normal 75% Helvetica,sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  background-size: 100% 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2E3241;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/* ---- stats.js ---- */
.button, .button--save, .button--delete {
  background: #45beff;
  border: none;
  padding: 1em 2em;
  font-size: 16px;
}
.button:hover, .button--save:hover, .button--delete:hover {
  opacity: 0.75;
}

.button.-green, .button--save {
  background: #3efa95;
}

.button--delete {
  background: #C5CAF7;
}

.button.-large, .button--save, .button--delete {
  font-size: 20px;
}

.button.-rounded, .button--save, .button--delete {
  border-radius: 55px;
}

/* 
  Assemble our button, exposing modifiers we plan on using in our markup by extending placeholder selectors 
*/
.button {
  /* 
     Prefixing modifiers with '-', and only decalring them within the scope of what they are modifying ensures that they'll never cause a conflict
  */
}
.button .button--delete {
  background: #ff3a6a;
}

/*
  Save even more clutter by saving commonly used modifier combinations as new modifier class
*/
.button--delete {
  position: absolute;
  left: 50%;
  top: 65%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #2E3241;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  font-size: 15px;
}

/*
  If you really need to override something, (like the changing opacity on hover), you could create override rules like so:
*/
.overrides.-disable {
  opacity: 0.25;
}

.button-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Kriptle-Header {
  font-size: 40px;
  color: #8CCEDB;
  margin-top: 10px;
  font-style: thin;
}

.vigilantes {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 40px;
  color: #8CCEDB;
  margin-top: 20px;
}

.table h1, .vigilantes-sub {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  font-style: thin;
  color: #8CCEDB;
  margin-top: 0.5px;
}
